$susy: (
  box-sizing: border-box,
  columns: 12,
  gutters: 1/5,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
);

.container {
  @include container(95%);
}
